<a href="https://colab.research.google.com/github/g4brifs/Clases-Ia-big-data/blob/main/Titanic_Gabriel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#dataframe
import pandas as pd
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)

EJ 1

In [2]:
print(df.shape)
print(df.dtypes)

(891, 12)
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

EJ 2

In [3]:
print("Edad media:", df["Age"].mean())
print("Tarifa media:",df["Fare"].mean())

Edad media: 29.69911764705882
Tarifa media: 32.204207968574636

EJ 3

In [4]:
#sexo
print("Sexo de los pasajeros:", df["Sex"].value_counts())
#clase
print("Clase de los pasajeros:", df["Pclass"].value_counts())
#embarque
print("Embarcados:", df["Embarked"].value_counts())

Sexo de los pasajeros: Sex
male      577
female    314
Name: count, dtype: int64
Clase de los pasajeros: Pclass
3    491
1    216
2    184
Name: count, dtype: int64
Embarcados: Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

EJ 4

In [5]:
#valores faltantes
missing = df.isnull().sum()

#porcentaje de valores faltantes
missing_porcentaje = (missing / len(df)) * 100

print("Valores faltantes:", missing)
print("Porcentaje de valores faltantes:", missing_porcentaje)

Valores faltantes: PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
Porcentaje de valores faltantes: PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

EJ 5

In [10]:
df['Deck'] = df['Cabin'].str[0]
print("Distribución de cubiertas por clase:")
print(pd.crosstab(df['Deck'], df['Pclass']))

Distribución de cubiertas por clase:
Pclass   1  2  3
Deck
A       15  0  0
B       47  0  0
C       59  0  0
D       29  4  0
E       25  4  3
F        0  8  5
G        0  0  4
T        1  0  0

EJ 6

In [6]:
#completamente duplicadas
duplicados_completos = df.duplicated().sum()
#mismo nombre y ticket
duplicados_parciales = df.duplicated(subset=['Name','Ticket']).sum()
print("Duplicados completos:", duplicados_completos)
print("Duplicados parciales:", duplicados_parciales)

Duplicados completos: 0
Duplicados parciales: 0

EJ 7

In [7]:
#verificar Pclass
print("Pclass:", df['Pclass'].value_counts())
#edad negativa
print("Edad negativa:", df[df['Age'] < 0])
#tarifa negativa
print("Tarifa negativa:", df[df['Fare'] < 0])

Pclass: Pclass
3    491
1    216
2    184
Name: count, dtype: int64
Edad negativa: Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []
Tarifa negativa: Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

EJ 8

In [11]:
#Cogemos valores antes de un punto "."
df['Title'] = df['Name'].str.extract(r' ([A-Za-z]+)\.', expand=False)
medianas_por_titulo = df.groupby('Title')['Age'].median()
print("Medianas de edad por título:")
print(medianas_por_titulo, df.groupby('Title')['Age'].count())

df['Age'] = df['Age'].fillna(df.groupby('Title')['Age'].transform('median'))
if df['Age'].isnull().any():
    df['Age'] = df['Age'].fillna(df['Age'].median())
print(f"Valores faltantes en Age: {df['Age'].isnull().sum()}")

Medianas de edad por título:
Title
Capt        70.0
Col         58.0
Countess    33.0
Don         40.0
Dr          46.5
Jonkheer    38.0
Lady        48.0
Major       48.5
Master       3.5
Miss        21.0
Mlle        24.0
Mme         24.0
Mr          30.0
Mrs         35.0
Ms          28.0
Rev         46.5
Sir         49.0
Name: Age, dtype: float64 Title
Capt          1
Col           2
Countess      1
Don           1
Dr            6
Jonkheer      1
Lady          1
Major         2
Master       36
Miss        146
Mlle          2
Mme           1
Mr          398
Mrs         108
Ms            1
Rev           6
Sir           1
Name: Age, dtype: int64
Valores faltantes en Age: 0

EJ 9

In [12]:
porcentaje_de_faltantes = (df['Cabin'].isnull().sum() / len(df))
print(f"Porcentaje de valores que faltan en Cabin: {porcentaje_de_faltantes:.2%}")

missing_cabin = df['Cabin'].isna().sum()
porcentaje_missing = missing_cabin / len(df) * 100

print(f"Valores que faltan en Cabin: {missing_cabin}")
print(f"Porcentaje de missing en Cabin: {porcentaje_missing:.2f}%")

df['HasCabin'] = df['Cabin'].notna().astype(int)
print(df['HasCabin'].value_counts())

Porcentaje de valores que faltan en Cabin: 77.10%
Valores que faltan en Cabin: 687
Porcentaje de missing en Cabin: 77.10%
HasCabin
0    687
1    204
Name: count, dtype: int64

EJ 10

In [13]:
print(f"Valores que faltan en Embarked: {df['Embarked'].isna().sum()}")

moda_embarked = df['Embarked'].mode()[0]
df['Embarked'] = df['Embarked'].fillna(moda_embarked)
print(df['Embarked'].value_counts())

Valores que faltan en Embarked: 2
Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

EJ 11

In [14]:
supervivencia_por_sexo = df.groupby('Sex')['Survived'].mean() * 100
print(supervivencia_por_sexo)

Sex
female    74.203822
male      18.890815
Name: Survived, dtype: float64

EJ 12

In [15]:
supervivencia_clase = df.groupby('Pclass')['Survived'].mean() * 100
print(supervivencia_clase)

Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

EJ 13

In [16]:
tabla_sexo_clase = pd.crosstab(
    df['Sex'],
    df['Pclass'],
    values=df['Survived'],
    aggfunc='mean'
) * 100

print(tabla_sexo_clase)

Pclass          1          2          3
Sex
female  96.808511  92.105263  50.000000
male    36.885246  15.740741  13.544669

EJ 14

In [21]:
import pandas as pd
# Crear grupos de edad
bins = [0, 12, 17, 59, df['Age'].max()]
labels = ['Niño', 'Adolescente', 'Adulto', 'Mayor']
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=True)

# Calcular tasa de supervivencia por grupo
supervivientes_por_edades = df.groupby('AgeGroup', observed=False)['Survived'].mean()
print(supervivientes_por_edades)

AgeGroup
Niño           0.575342
Adolescente    0.477273
Adulto         0.363636
Mayor          0.269231
Name: Survived, dtype: float64

EJ 15

In [20]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
def clasificar_familia(size):
    if size == 1:
        return 'Solo'
    elif 2 <= size <= 4:
        return 'Pequeña'
    else:
        return 'Grande'
df['TipoFamilia'] = df['FamilySize'].apply(clasificar_familia)
supervivencia_familia = df.groupby('TipoFamilia')['Survived'].mean() * 100
print(supervivencia_familia)

TipoFamilia
Grande     16.129032
Pequeña    57.876712
Solo       30.353818
Name: Survived, dtype: float64